


{% extends "base.html" %}



{% block content %}


<b>Short Example:</b> 
<br></br>
F = A * B' + B * C' * A 
<br></br>
         (A, B, C) = (1,1,0)
<br></br>
         F =  1

<p>Type the logic equation that you are trying to solve in the first box below. For reference, the AND gate is represented by *, the OR gate by +, and the NOT gate by '. Example: F = A+B+C</p>



<form class="logic" action="/" method="POST">
    F=: <textarea name="equation"></textarea>
    Logic of Variables=:<textarea name = "logic_of_variables"></textarea>
    <button type="submit" class="btn btn-default">Submit</button>
</form>



 {% endblock %}

